<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/auth/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<form th:action="@{/auth/login}" method="post">
    <input type="hidden" name="username" value="guest"/>
    <input type="hidden" name="password" value="guest"/>
    <div><input type="submit" value="Sign In as guest"/></div>
</form>
<p>Admin   94d5ous@gmail.com    uzWC67</p>
<p>Manager 1diph5e@tutanota.com 8ntwUp</p>
<p>User    5d4zbu@tutanota.com  rwVDh9</p>
</body>
</html>